<!-- Template: mobile/download -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - </title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead class="table-light">
              <tr>
                <th>Nome</th>
                <th class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for e in arquivos %}
              <tr>
                <td>{{ e }}</td>
                <td class="text-center">
                  <a href="/download_arquivo?arquivo={{e}}" class="text-decoration-none text-primary-emphasis">
                    <i class="fa-solid fa-download"></i> Baixar Relatório
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  {% include 'fractials/footer.html' %}
</body>

</html>
