<!-- mobile home.html-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Mobile Home</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="title">Empreendimentos</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead class="table-light">
              <tr>
                <th>Nome</th>
                <th class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% if apelidos %}
              {% for e in apelidos %}
              <tr>
                <td>{{ e.getApelido() }}</td>
                <td class="text-center">
                  <a href="/lista_relatorios?apelido={{e.getApelido()}}"
                    class="text-decoration-none text-primary-emphasis">
                    <i class="fa-solid fa-magnifying-glass-arrow-right"></i> Visualizar Relatórios
                  </a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="2" class="text-center">Não existem empreendimentos</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  {% include 'fractials/footer.html' %}
</body>

</html>