<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 1</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    {% include 'mobile/menu.html' %}
    <div id="login">
        <form action="/login_m" method="POST" style="margin-top: 10em">
            <label for="email">Email:</label>
            <input type="text" name="email" />
            <label for="senha">Senha:</label>   
            <input type="text" name="senha" />
            <button type="submit">Login</button>
        </form>    
    </div>
</body>
</html>