<header class="header">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-4 col-lg-2 col-md-3">
        <div class="row">
          <div class="col-4">
            <a href="/home" class="text-decoration-none d-block"><img src="../static/imgs/gfc.png" alt="Home"></a>
          </div>
          <div class="col-7">
            <a href="{{'/mobile/home' if session.has_user_mobile_logged else '/home'}}"
              class="text-decoration-none d-block" title="Ir para Empreendimentos">
              <h1 class="text-white m-0">GFC</h1>
            </a>
          </div>
        </div>
      </div>

      <div class="col-4 d-lg-block d-none">
        <form action="/alterar_vigencia" method="post">
          <div class="row">
            <div class="col-9">
              <label for="vigencia" class="form-label small text-light m-0">vigência</label>
              <input type="month" name="vigencia" id="vigencia"
                value="{{ session.vigencia[0] }}-{{ session.vigencia[1] }}" class="form-control form-control-sm"
                min="2000-01" max="2050-12">
            </div>
            <div class="col-3 align-content-end">
              <button type="submit" class="btn btn-primary btn-sm">
                Alterar
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-7 col-lg-3 d-flex justify-content-end">
        <div class="row">
          <div class="col-7 offset-2">
            <p class="text-white text-end m-0"><small>Seja bem vindo,</small> <strong class="h4">{{session.nome_usuario
                if not session.has_user_mobile_logged else session.name_user_mobile}}</strong>
            </p>
          </div>
          <div class="col-3 d-flex flex-column justify-content-center position-relative">
            <button type="button" class="btn bg-transparent" id="submenu_action">
              <i class="fa-solid fa-bars fa-2x text-white"></i>
            </button>
            <ul class="submenu" id="submenu_perfil">
              <li><a class="dropdown-item" href="/minha-conta">Conta</a></li>
              <li>
                <a href="{{'/logout_m' if session.has_user_mobile_logged else '/logout'}}"
                  class="btn btn-danger btn-sm w-100">
                  <i class="fa-solid fa-right-from-bracket"></i>
                  Sair</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{% if mensagem %}
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <p class="alert alert-warning text-center alert-dismissible fade show"> {{mensagem}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </p>
    </div>
  </div>
</div>
{% endif %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="container container-alert">
  <div class="row">
    <div class="col-12">
      {% for category, message in messages %}
      {% if category == 'error' and message %}
      <p class="alert alert-danger alert alert-dismissible fade p-2 show small mb-0 mt-3"> {{ message }}
        <button type="button" class="btn-close pb-3 pt-2 small" data-bs-dismiss="alert" aria-label="Close"></button>
      </p>
      {% endif %}
      {% if category == 'warning' and message %}
      <p class="alert alert-warning alert alert-dismissible fade p-2 show small mb-0 mt-3"> {{ message }}
        <button type="button" class="btn-close pb-3 pt-2 small" data-bs-dismiss="alert" aria-label="Close"></button>
      </p>
      {% endif %}
      {% if category == 'info' and message %}
      <p class="alert alert-info alert alert-dismissible fade p-2 show small mb-0 mt-3"> {{ message }}
        <button type="button" class="btn-close pb-3 pt-2 small" data-bs-dismiss="alert" aria-label="Close"></button>
      </p>
      {% endif %}
      {% if category == 'success' and message %}
      <p class="alert alert-success alert alert-dismissible fade p-2 show small mb-0 mt-3"> {{ message }}
        <button type="button" class="btn-close pb-3 pt-2 small" data-bs-dismiss="alert" aria-label="Close"></button>
      </p>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endwith %}