<nav class="navbar navbar-expand bg-body-secondary" id="submenu-home">
  <div class="container">
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <a href="/home" class="nav-link p-3"><i class="fa-solid fa-building"></i>
          Empreendimentos</a>
      </li>
      <li class="nav-item">
        <a href="/tratar_clientes" class="nav-link  p-3"><i class="fa-solid fa-users"></i>
          Clientes</a>
      </li>
      <li class="nav-item">
        <a href="/tratar_bancos" class="nav-link  p-3"><i class="fa-solid fa-building-columns"></i>
          Bancos</a>
      </li>
      {% if session.is_root %}
      <li class="nav-item">
        <a href="/tratar_usuarios" class="nav-link  p-3"><i class="fa-solid fa-user-gear"></i>
          Usuários</a>
      </li>
      {% endif %}
      {% if session.is_root or session.is_adm %}
      <li class="nav-item">
        <a href="/agenda_atividades" class="nav-link  p-3"><i class="fa-solid fa-calendar"></i>
          Atividades</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a href="/itens_produtos" class="nav-link  p-3">
          <i class="fa-solid fa-clipboard-list"></i>
          Itens e Produtos
        </a>
      </li>

      <li class="nav-item ms-auto">
        <button id="sync_elonet" class="btn btn-info mt-2">
          <i class="fa-solid fa-group-arrows-rotate"></i>
          Sincronizar com Elonet
        </button>
      </li>
    </ul>
  </div>
</nav>