<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 1</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <form action="/efetuar_cad_empreend" method="POST">
        <div>
             <label for="nmEmpreendimento">Empreendimento:</label>
             <input type="text" id="nmEmpreendimento" />
        </div>
        <div>
             <label for="nmEndereco">Endereço:</label>
             <input type="text" id="nmEndereco" />
        </div>
        <div>
             <label for="nmIncorporador">Incorporador:</label>
             <input type="text" id="nmIncorporador" />
        </div>
        <div>
             <label for="nmConstrutora">Construtora:</label>
             <input type="text" id="nmConstrutora" />
        </div>
        <div>
             <label for="nmBanco">Banco:</label>
             <input type="text" id="nmBanco" />
        </div>
<!--        <div>
          <label for="notas">Anotações:</label>
          <textarea id="msg"></textarea>
         </div>
-->     <div class="button">
    <button type="pesquisa">Pesquisar</button><button type="submit">Salvar</button><button type="delete">Excluir</button>
        </div>
      </form>
</body>
</html>