<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>GFC</title>
     <link rel="stylesheet" href="../static/css/style.css">
     <link rel="stylesheet" href="../static/css/tooltip.css">
</head>

<body>
     {% include 'fractials/menu.html' %}
     <div style="margin-top: 10em;">
          <p>Houve um erro no processamento: {{mensagem}}</p>
          <p>
          <form action="/home" method="POST" id="homeForm"></form><input type="button" value="Voltar para o início"
               onClick="javascript:document.getElementById('homeForm').submit();" />
     </div>
</body>

</html>