<!-- Template: orcamento_item -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Orçamento por data cadastro</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'menu.html' %}

  <main>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-scale-balanced"></i> Editar orçamento por
              data</span><strong>{{session.nmEmpreend}} - <span>{{session.dtCarga|to_date}}</span></strong>
          </h2>
        </div>
      </div>

      {% if item %}

      <form action="/salvar_item_orcamento" id="formIncluirOrcamento" method="POST">
        <input type="hidden" name="idOrcamento" value="{{ item.getIdOrcamento() }}" />
        <input type="hidden" name="idEmpreend" value="{{ item.getIdEmpreend() }}" />
        <input type="hidden" name="dtCarga" value="{{ item.getDtCarga() }}" />

        <div class="row">
          <div class="col-6">

            <div class="form-floating mt-4">
              <input type="text" name="item" id="item" class="form-control" placeholder="" {% if modo=='consulta' or
                modo=='exclui' %} readonly {% endif %} value="{{ item.getItem() if item.getItem()}}" />
              <label for="item">Item</label>
            </div>

            <div class="form-floating mt-4">
              <input type="number" name="mesVigencia" id="mesVigencia" class="form-control" placeholder="" readonly
                value="{{ item.getMesVigencia() if item.getMesVigencia()}}" />
              <label for="mesVigencia">Mês vigência</label>
            </div>

            <div class="form-floating mt-4">
              <input type="text" name="orcadoValor" id="orcadoValor" class="form-control money" placeholder="" {% if
                modo=='consulta' or modo=='exclui' %} readonly {% endif %}
                value="{{ item.getOrcadoValor() if item.getOrcadoValor()}}" />
              <label for="orcadoValor">Valor Orçado</label>
            </div>

            <div class="form-floating mt-4">
              <input type="text" name="fisicoValor" id="fisicoValor" class="form-control money" placeholder="" readonly
                value="{{ item.getFisicoValor() if item.getFisicoValor()}}" />
              <label for="fisicoValor">Físico (R$)</label>
            </div>

            <div class="form-floating mt-4">
              <input type="text" name="financeiroSaldo" id="financeiroSaldo" class="form-control money" placeholder=""
                readonly value="{{ item.getFinanceiroSaldo() if item.getFinanceiroSaldo()}}" />
              <label for="financeiroSaldo">Financeiro saldo</label>
            </div>
          </div>

          <div class="col-6">

            <div class="form-floating mt-4">
              <input type="date" name="dtCarga" id="dtCarga" class="form-control" placeholder="" readonly
                value="{{ item.getDtCarga() if item.getDtCarga()}}" />
              <label for="dtCarga">Data carga</label>
            </div>

            <div class="form-floating mt-4">
              <input type="number" name="anoVigencia" id="anoVigencia" class="form-control" placeholder="" readonly
                value="{{ item.getAnoVigencia() if item.getAnoVigencia()}}" />
              <label for="anoVigencia">Ano vigência</label>
            </div>

            <div class="form-floating mt-4">
              <input type="text" name="fisicoSaldo" id="fisicoSaldo" class="form-control money" placeholder="" readonly
                value="{{ item.getFisicoSaldo() if item.getFisicoSaldo() }}" />
              <label for="fisicoSaldo">Físico saldo</label>
            </div>

            <div class="form-floating mt-4">
              <input type="text" name="financeiroValor" id="financeiroValor" class="form-control money" placeholder=""
                {% if modo=='consulta' or modo=='exclui' %} readonly {% endif %}
                value="{{ item.getFinanceiroValor() if item.getFinanceiroValor() }}" />
              <label for="financeiroValor">Financeiro (R$)</label>
            </div>

            <div class="form-floating mt-4">
              <input type="text" name="financeiroPercentual" id="financeiroPercentual" class="form-control money"
                placeholder="" readonly value="{{ item.getFinanceiroPercentual() if item.getFinanceiroPercentual()}}" />
              <label for="financeiroPercentual">Financeiro (%)</label>
            </div>

          </div>
        </div>

        <div class="d-flex mt-5 justify-content-center gap-5">
          <a href="/consultar_orcamento_data" class="btn btn-secondary w-25">Cancelar</a>
          {% if modo == 'exclui' %}
          <a href="/excluir_item_orcamento" class="btn btn-danger w-25">Excluir Registro</a>
          {% endif %}
          {% if modo != 'consulta' and modo != 'exclui' %}
          <button type="submit" class="btn btn-success w-25">Salvar</button>
          {% endif %}
        </div>

      </form>

      {% endif %}
    </div>
  </main>
  {% include 'fractials/footer.html' %}
  <script>
    const requireds = GFC.getRequiredFields("formIncluirOrcamento")
    $(function () {
      $("#formIncluirOrcamento").validate({
        rules: requireds.rules,
        messages: requireds.messages,
        errorClass: 'is-invalid',
        errorElement: 'span',
        highlight: function (element, errorClass, validClass) {
          setTimeout(function () {
            $(element).siblings(`span[id="${element.id}-error"]`).addClass('invalid-feedback').show();
            $(element).addClass(errorClass)
          }, 50)
        },
      });
    });
  </script>
</body>

</html>
