<header class="header">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-5 col-lg-2 col-md-3">
        <div class="row">
          <div class="col-4">
            <a href="/home" class="text-decoration-none d-block"><img src="../static/imgs/gfc.png" alt="Home" /></a>
          </div>
          <div class="col-7">
            <a href="/home" class="text-decoration-none d-block">
              <h1 class="text-white m-0">GFC</h1>
            </a>
          </div>
        </div>
      </div>

      <div class="col-6 d-flex justify-content-end">
        <div class="row">
          <div class="col-7">
            <p class="text-white text-end m-0"><small>Seja bem vindo,</small> <strong
                class="h4">{{session.nome}}</strong>
            </p>
          </div>
          <div class="col-5 d-flex flex-column justify-content-center">
            <a href="{{'/logout_m' if session.m_logged_in == true else '/logout'}}" class="btn btn-danger">
              <i class="fa-solid fa-right-from-bracket"></i>
              Sair
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{% if mensagem %}
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <p class="alert alert-warning text-center"> {{mensagem}} </p>
    </div>
  </div>
</div>
{% endif %}