<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Cadastro Empreendimento</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}


  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2 class="title"><i class="fa-solid fa-building"></i> {{ 'Editar' if empreend else 'Criar' }} Empreendimento
        </h2>
      </div>
    </div>

    <form action="{{'/salvar_empreend' if empreend else '/efetuar_cad_empreend'}}" method="POST"
      id="formEmpreendimento">
      <div class="row">
        <div class="col-6">

          <div class="form-floating">
            <input type="text" name="idEmpreendimento" id="idEmpreendimento" class="form-control" placeholder=""
              readonly value="{{ empreend.getIdEmpreend() if empreend}}" />
            <label for="idEmpreendimento">Codigo do Empreendimento</label>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="nmEmpreendimento" id="nmEmpreendimento" class="form-control" placeholder=""
              value="{{ empreend.getNmEmpreend() if empreend}}" maxlength="100" />
            <label for="nmEmpreendimento">Nome</label>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="apelido" id="apelido" class="form-control" placeholder=""
              value="{{ empreend.getApelido() if empreend}}" maxlength="10" />
            <label for="apelido">Apelido</label>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="cep" id="cep" class="form-control cep" placeholder=""
              value="{{ empreend.getCep() if empreend}}" maxlength="9" />
            <label for="cep">CEP</label>
          </div>

          <div class="row">
            <div class="col-5">
              <div class="form-floating mt-4">
                <select type="text" name="estado" id="estado" class="form-control" placeholder=""
                  value="{{ empreend.getEstado() if empreend}}">
                  <option value="">Selecione o estado</option>
                </select>
                <label for="estado">Estado</label>
              </div>
            </div>
            <div class="col-7">
              <div class="form-floating mt-4">
                <select type="text" name="cidade" id="cidade" class="form-control" placeholder=""
                  value="{{ empreend.getCidade() if empreend}}">
                  <option value="">Selecione a cidade</option>
                </select>
                <label for="cidade">Cidade</label>
              </div>
            </div>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="logradouro" id="logradouro" class="form-control" placeholder=""
              value="{{ empreend.getLogradouro() if empreend}}" maxlength="100" />
            <label for="logradouro">Endereço</label>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="bairro" id="bairro" class="form-control" placeholder=""
              value="{{ empreend.getBairro() if empreend}}" maxlength="50" />
            <label for="bairro">Bairro</label>
          </div>

        </div>

        <div class="col-6">
          <div class="form-floating">
            <input type="text" name="nmIncorp" id="nmIncorp" class="form-control" placeholder=""
              value="{{ empreend.getNmIncorp() if empreend}}" maxlength="100" />
            <label for="nmIncorp">Incorporador</label>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="nmConstrutor" id="nmConstrutor" class="form-control" placeholder=""
              value="{{ empreend.getNmConstrutor() if empreend}}" maxlength="100" />
            <label for="nmConstrutor">Construtora</label>
          </div>

          <div class="form-floating mt-4">
            <select type="text" name="nmBanco" id="nmBanco" class="form-control" placeholder=""
              value="{{ empreend.getNmBanco() if empreend}}">
              <option>Selecione o banco</option>
            </select>
            <label for="nmBanco">Banco</label>
          </div>

          <div class="row mt-4">
            <div class="col-9">
              <div class="form-floating ">
                <input type="hidden" id="cpfCnpjEngenheiro" name="cpfCnpjEngenheiro"
                  value="{{ empreend.getCpfCnpjEngenheiro() if empreend}}">
                <input type="text" id="nmEngenheiro" class="form-control" placeholder=""
                  value="{{ empreend.getNmEngenheiro() if empreend}}" maxlength="100" />
                <label for="nmEngenheiro">Nome do engenheiro</label>
              </div>
            </div>
            <div class="col-3">
              <button type="button" class="btn btn-primary btn-sm btn-associar" data-bs-toggle="modal"
                data-bs-target="#modalAssociarCliente" data-input-doc-receiver="cpfCnpjEngenheiro"
                data-input-name-receiver="nmEngenheiro"
                data-initial-selected="{{ unidade.getCpfCnpjEngenheiro() if unidade}}">
                <i class="fa-solid fa-user-plus mr-2"></i>
                Associar Cliente
              </button>
            </div>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="vlPlanoEmp" id="vlPlanoEmp" class="form-control money" placeholder=""
              value="{{ empreend.getVlPlanoEmp() if empreend}}" maxlength="16" />
            <label for="vlPlanoEmp">Valor do Plano Empresário</label>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="indiceGarantia" id="indiceGarantia" class="form-control percent" placeholder=""
              value="{{ empreend.getIndiceGarantia() if empreend}}" maxlength="6" />
            <label for="indiceGarantia">Indice de Garantia Contratado</label>
          </div>

          <div class="form-floating mt-4">
            <input type="date" name="previsaoEntrega" id="previsaoEntrega" class="form-control" placeholder=""
              value="{{ empreend.getPrevisaoEntrega() if empreend}}" />
            <label for="previsaoEntrega">Previsão de entrega</label>
          </div>

        </div>
      </div>

      <div class="row mt-5 justify-content-center d-flex">
        <div class="col-3">
          <a href="/home" class="btn btn-secondary w-100">Cancelar</a>
        </div>
        <div class="col-3 offset-1">
          <button type="submit" class="btn btn-success w-100">{{ 'Salvar' if empreend else 'Criar' }}</button>
        </div>
      </div>
    </form>

  </div>

  {% include 'fractials/footer.html' %}
  <script>
    const requireds = GFC.getRequiredFields("formEmpreendimento")
    requireds.messages.indiceGarantia = {
      required: GFC_MESSAGES.REQUIRED,
      minf: GFC_MESSAGES.MIN('0,01'),
      maxf: GFC_MESSAGES.MAX(100),
    }
    requireds.rules.indiceGarantia = {
      required: true,
      minf: 0.01,
      maxf: 100
    }
    $(function () {
      $("#formEmpreendimento").validate({
        rules: requireds.rules,
        messages: requireds.messages,
        errorClass: 'is-invalid',
        errorElement: 'span',
        submitHandler: function (form) {
          if (form.cpfCnpjEngenheiro.value === '' || !/\d/.test(form.cpfCnpjEngenheiro.value)) {
            $.toast({
              heading: '<strong>Erro ao enviar</strong>',
              text: "É necessário informar o cliente associado ao empreendimento de maneira correta",
              icon: 'error',
              position: 'bottom-center',
              hideAfter: 10000,
            });
          } else {
            form.submit();
          }
        },
        highlight: function (element, errorClass, validClass) {
          setTimeout(function () {
            $(element).siblings(`span[id="${element.id}-error"]`).addClass('invalid-feedback').show();
            $(element).addClass(errorClass)
          }, 50)
        },
      });
    });
  </script>
  {% if empreend %}
  <script>
    $(function () {
      setTimeout(function () {
        $('#estado').val(document.querySelector('#estado').getAttribute('value'));
        $('#estado').trigger('change')
        setTimeout(function () {
          $('#cidade').val(document.querySelector('#cidade').getAttribute('value'));
        }, 500);
      }, 500);

      setTimeout(function () {
        $('#nmBanco').val(document.querySelector('#nmBanco').getAttribute('value'));
      }, 500);
    });
  </script>
  {% endif %}
</body>

</html>