<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Cadastro Empreendimento</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}


  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2 class="title">{{ 'Editar' if empreend else 'Criar' }} Empreendimento</h2>
      </div>
    </div>

    <form action="{{'/salvar_empreend' if empreend else '/efetuar_cad_empreend'}}" method="POST"
      id="formEmpreendimento">
      <div class="row">
        <div class="col-6">

          <div class="form-floating">
            <input type="text" name="idEmpreendimento" id="idEmpreendimento" class="form-control" placeholder=""
              readonly value="{{ empreend.getIdEmpreend() if empreend}}" />
            <label for="idEmpreendimento">Codigo do Empreendimento</label>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="nmEmpreendimento" id="nmEmpreendimento" class="form-control" placeholder=""
              value="{{ empreend.getNmEmpreend() if empreend}}" />
            <label for="nmEmpreendimento">Nome</label>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="cep" id="cep" class="form-control cep" placeholder=""
              value="{{ empreend.getCep() if empreend}}" />
            <label for="cep">CEP</label>
          </div>

          <div class="form-floating mt-4">
            <select type="text" name="estado" id="estado" class="form-control" placeholder=""
              value="{{ empreend.getEstado() if empreend}}">
              <option value="">Selecione o estado</option>
            </select>
            <label for="estado">Estado</label>
          </div>

          <div class="form-floating mt-4">
            <select type="text" name="cidade" id="cidade" class="form-control" placeholder=""
              value="{{ empreend.getCidade() if empreend}}">
              <option value="">Selecione a cidade</option>
            </select>
            <label for="cidade">Cidade</label>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="logradouro" id="logradouro" class="form-control" placeholder=""
              value="{{ empreend.getLogradouro() if empreend}}" />
            <label for="logradouro">Endereço</label>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="bairro" id="bairro" class="form-control" placeholder=""
              value="{{ empreend.getBairro() if empreend}}" />
            <label for="bairro">Bairro</label>
          </div>

        </div>

        <div class="col-6">
          <div class="form-floating">
            <input type="text" name="nmIncorp" id="nmIncorp" class="form-control" placeholder=""
              value="{{ empreend.getNmIncorp() if empreend}}" />
            <label for="nmIncorp">Incorporador</label>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="nmConstrutor" id="nmConstrutor" class="form-control" placeholder=""
              value="{{ empreend.getNmConstrutor() if empreend}}" />
            <label for="nmConstrutor">Construtora</label>
          </div>

          <div class="form-floating mt-4">
            <select type="text" name="nmBanco" id="nmBanco" class="form-control" placeholder=""
              value="{{ empreend.getNmBanco() if empreend}}">
              <option>Selecione o banco</option>
            </select>
            <label for="nmBanco">Banco</label>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="nmEngenheiro" id="nmEngenheiro" class="form-control" placeholder=""
              value="{{ empreend.getNmEngenheiro() if empreend}}" />
            <label for="nmEngenheiro">Nome do engenheiro</label>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="vlPlanoEmp" id="vlPlanoEmp" class="form-control money" placeholder=""
              value="{{ empreend.getVlPlanoEmp() if empreend}}" />
            <label for="vlPlanoEmp">Valor do Plano Empresário</label>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="indiceGarantia" id="indiceGarantia" class="form-control money" placeholder=""
              value="{{ empreend.getIndiceGarantia() if empreend}}" />
            <label for="indiceGarantia">Indice de Garantia Contratado</label>
          </div>

          <div class="form-floating mt-4">
            <input type="date" name="previsaoEntrega" id="previsaoEntrega" class="form-control" placeholder=""
              value="{{ empreend.getPrevisaoEntrega() if empreend}}" />
            <label for="previsaoEntrega">Previsão de entrega</label>
          </div>

        </div>
      </div>

      <div class="row mt-5 justify-content-center d-flex">
        <div class="col-3">
          <a href="/home" class="btn btn-secondary w-100">Cancelar</a>
        </div>
        <div class="col-3 offset-1">
          <button type="submit" class="btn btn-success w-100">{{ 'Salvar' if empreend else 'Criar' }}</button>
        </div>
      </div>
    </form>

  </div>

  {% include 'fractials/footer.html' %}
  <script>
    const requireds = GFC.getRequiredFields("formEmpreendimento")
    $(function () {
      $("#formEmpreendimento").validate({
        rules: requireds.rules,
        messages: requireds.messages,
        errorClass: 'is-invalid',
        errorElement: 'span',
        highlight: function (element, errorClass, validClass) {
          setTimeout(function () {
            $(element).siblings(`span[id="${element.id}-error"]`).addClass('invalid-feedback').show();
            $(element).addClass(errorClass)
          }, 50)
        },
      });
    });
  </script>
  {% if empreend %}
  <script>
    $(function () {
      setTimeout(function () {
        $('#estado').val(document.querySelector('#estado').getAttribute('value'));
        $('#estado').trigger('change')
        setTimeout(function () {
          $('#cidade').val(document.querySelector('#cidade').getAttribute('value'));
        }, 500);
      }, 500);

      setTimeout(function () {
        $('#nmBanco').val(document.querySelector('#nmBanco').getAttribute('value'));
      }, 500);
    });
  </script>
  {% endif %}
</body>

</html>