<!-- Template: cad_agenda -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Garantia</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}

  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2 class="title"><i class="fa-solid fa-calendar-days"></i> Agenda
        </h2>
      </div>
    </div>

    <form action="/cadastrar_agenda" method="POST" id="formAgenda">
      <div class="row mb-4">
        <div class="col-4">
          <div class="form-floating">
            <select name="status" id="status" class="form-select" placeholder="" value="">
              <option value="">Selecione</option>
              <option value="Não Iniciado">Não Iniciado</option>
              <option value="Em Andamento">Em Andamento</option>
              <option value="Finalizado">Finalizado</option>
              <option value="Pendente">Pendente</option>
              <option value="Bloqueado">Bloqueado</option>
              <option value="Rejeitado">Rejeitado</option>
            </select>
            <label for="status">Status</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">

          <div class="form-floating">
            <select name="atividade" id="atividade" class="form-select" placeholder="" value="">
              <option value="">Selecione</option>
              {% for opt in atividades %}
              <option value="{{opt.chave}}">{{opt.valor}}</option>
              {% endfor %}
            </select>
            <label for="atividade">Atividade</label>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="responsavel" id="responsavel" class="form-control" placeholder="" value=""
              maxlength="100">
            <label for="responsavel">Nome do responável</label>
          </div>

          <div class="form-floating mt-4">
            <input type="text" name="responsavelBaixa" id="responsavelBaixa" class="form-control" placeholder=""
              value="" maxlength="100">
            <label for="responsavelBaixa">Nome do responável da baixa</label>
          </div>

        </div>
        <div class="col-6">

          <div class="row">
            <div class="col-6">
              <div class="form-floating">
                <input type="text" name="mesVigencia" id="mesVigencia" class="form-control 2num" placeholder="" value=""
                  maxlength="2">
                <label for="mesVigencia">Mês vigência</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating">
                <input type="text" name="anoVigencia" id="anoVigencia" class="form-control 4num" placeholder="" value=""
                  maxlength="4">
                <label for="anoVigencia">Ano vigência</label>
              </div>
            </div>
          </div>

          <div class="form-floating mt-4">
            <input type="date" name="dtAtividade" id="dtAtividade" class="form-control" placeholder="" value="">
            <label for="dtAtividade">Data da atividade</label>
          </div>

          <div class="form-floating mt-4">
            <input type="date" name="dtBaixa" id="dtBaixa" class="form-control" placeholder="" value="">
            <label for="dtBaixa">Data da baixa</label>
          </div>

        </div>
      </div>


      <div class="row mt-5 justify-content-center d-flex">
        <div class="col-3">
          <a href="#" id="backHistory" class="btn btn-secondary w-100">Cancelar</a>
        </div>
        <div class="col-3 offset-1">
          <button type="submit" class="btn btn-success w-100">Atualizar</button>
        </div>
      </div>
    </form>

  </div>

  {% include 'fractials/footer.html' %}
  <script>
    $(function () {
      const requireds = GFC.getRequiredFields("formAgenda")
      requireds.rules.mesVigencia = {
        required: true,
        min: 1,
        max: 12
      }
      requireds.rules.anoVigencia = {
        required: true,
        min: 1990,
        max: 3000
      }
      requireds.messages.mesVigencia = {
        required: GFC_MESSAGES.REQUIRED,
        min: GFC_MESSAGES.MIN(1),
        max: GFC_MESSAGES.MAX(12),
      }
      requireds.messages.anoVigencia = {
        required: GFC_MESSAGES.REQUIRED,
        min: GFC_MESSAGES.MIN(1990),
        max: GFC_MESSAGES.MAX(3000),
      }
      $("#formAgenda").validate(GFC.getConfigValidateForm(requireds));
    });
  </script>
</body>

</html>
