<!-- Template: garantias.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.1">
  <title>GFC - Garantias</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-shield-halved"></i> Garantias</span> <strong>{{session.nmEmpreend}}</strong>
          </h2>
        </div>
        <div class="col-6">
          <div class="row h-100 justify-content-end align-items-center">
            <div class="col-4">
              <a href="/atualizar_garantia" class="btn btn-primary">
                <i class="fa-solid fa-plus-circle"></i>
                Atualizar
              </a>
            </div>
            <div class="col-3">
              <a href="/home" type="submit" class="btn btn-outline-dark">
                <i class="fa-solid fa-caret-left"></i>
                Voltar
              </a>
            </div>
          </div>
        </div>
      </div>

      <p class="border-start border-5 p-3 pt-0 pb-0 h5 mb-2 mt-4 border-primary">Gerar Insumo para Relatório</p>
      <div class="bg-body-tertiary border border-1 p-3 rounded-4 mb-5">
        <form action="/gerar_relatorio_garantia" method="post" id="formRelatorio">
          <div class="row">
            <div class="col-4">
              <div class="form-floating">
                <input type="month" name="vigencia" id="vigencia" class="form-control" min="{{ minDate }}"
                  max="{{ maxDate }}">
                <label for="vigencia">Vigência</label>
              </div>
            </div>
            <div class="col-4 align-content-center">
              <div class="form-floating">
                <select name="tipo" id="tipo" class="form-control">
                  <option value="">Selecione</option>
                  <option value="Geral">Tabela Garantia Geral</option>
                  <option value="Obra">Tabela Garantia Obra</option>
                </select>
                <label for="tipo">Tipo relatório</label>
              </div>
            </div>
            <div class="col-3 align-content-center">
              <button type="submit" class="btn btn-primary w-100">
                Gerar
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#" data-bs-toggle="tab" data-bs-target="#tab-obra">Documentos da
                Obra</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-geral" href="#">Documentos Gerais</a>
            </li>
          </ul>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="tab-obra">
              <table class="table table-striped t-fx">
                <thead class="table-light">
                  <tr>
                    <th class="p-3 w-25">Documento</th>
                    <th class="p-3 text-center w-25">Status</th>
                    <th class="p-3">Observação</th>
                  </tr>
                </thead>
                <tbody>
                  {% for obra in obras %}
                  <tr>
                    <td class="p-3">{{obra.documento}}</td>
                    <td class="p-3 align-content-around text-center">
                      {% if obra.status == 'Normal' %}
                      <i class="fa-solid fa-square-check text-success"></i>
                      {% endif %}
                      {% if obra.status == 'Verificar' %}
                      <i class="fa-solid fa-land-mine-on text-danger"></i>
                      {% endif %}
                      {% if obra.status == 'Atenção' %}
                      <i class="fa-solid fa-warning text-warning"></i>
                      {% endif %}
                      &nbsp;&nbsp;{{obra.status}}
                    </td>
                    <td class="p-3">{{obra.observacao}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="tab-pane fade" id="tab-geral">
              <table class="table table-striped t-fx">
                <thead class="table-light">
                  <tr>
                    <th class="p-3 w-25">Documento</th>
                    <th class="p-3 text-center w-25">Status</th>
                    <th class="p-3">Observação</th>
                  </tr>
                </thead>
                <tbody>
                  {% for geral in gerais %}
                  <tr>
                    <td class="p-3">{{geral.documento}}</td>
                    <td class="p-3 align-content-around text-center">
                      {% if geral.status == 'Normal' %}
                      <i class="fa-solid fa-square-check text-success"></i>
                      {% endif %}
                      {% if geral.status == 'Verificar' %}
                      <i class="fa-solid fa-land-mine-on text-danger"></i>
                      {% endif %}
                      {% if geral.status == 'Atenção' %}
                      <i class="fa-solid fa-warning text-warning"></i>
                      {% endif %}
                      &nbsp;&nbsp;{{geral.status}}
                    </td>
                    <td class="p-3">{{geral.observacao}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
  {% include 'fractials/footer.html' %}
  <script>
    $(function () {
      const configrels = GFC.getRequiredFields("formRelatorio")
      $("#formRelatorio").validate(GFC.getConfigValidateForm(configrels));
    });
  </script>

</body>

</html>