<!-- Template: gerar_relatorio_resultado  -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Visualizando insumos para o relatório</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}

  <main>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-chart-pie"></i> Visualizando insumos para o
              relatório</span><strong>{{session.nmEmpreend}}</strong>
          </h2>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
          <a href="/gerar_insumos_relatorios" class="btn btn-outline-dark">
            <i class="fa-solid fa-caret-left"></i>
            Voltar
          </a>
        </div>
      </div>
      {% if opcoes %}
      <div class="d-flex flex-wrap justify-content-between">
        {% for item in opcoes %}
        <div class="box-grafico">
          <h4 class="border border-5 border-bottom-0 border-primary border-top-0 p-2"
            style="border-right: none !important;">{{item[1]}}</h4>
          <a href="/ver_insumo/{{item[0]}}" data-title="{{item[1]}}" data-lightbox="{{item[0]}}">
            <img src="/ver_insumo/{{item[0]}}" class="w-100">
          </a>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p class="alert alert-dark text-center alert-dismissible fade show">
        Não há registros de tabelas ou gráficos para apresentar
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </p>
      {% endif %}

    </div>
  </main>
  {% include 'fractials/footer.html' %}
</body>

</html>
