<!-- Template: gerar_relatorio  -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Gerar insumos para o relatório</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}

  <main>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-chart-pie"></i> Gerar insumos para o
              relatório</span><strong>{{session.nmEmpreend}}</strong>
          </h2>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
          <a href="/home" class="btn btn-outline-dark">
            <i class="fa-solid fa-caret-left"></i>
            Voltar
          </a>
        </div>
      </div>

      <p class="border-start border-5 p-3 pt-0 pb-0 h5 mb-2 mt-4 border-primary">Selecione a vigência</p>
      <form action="" id="formVigencia" method="GET" class="mt-3 mb-5 p-3 bg-light border border-dark-subtle rounded-4">
        <div class="row">

          <div class="col-4">
            <div class="form-floating">
              <select name="mes" id="mes" class="form-control">
                {% for m in range(1, 13) %}
                <option value="{{(m|string).zfill(2)}}" {% if (m|string).zfill(2)==mes %} selected {% endif %}>
                  {{(m|string).zfill(2)}}
                </option>
                {% endfor %}
              </select>
              <label for="mes">Mês Vigência</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-floating">
              <div class="form-floating">
                <input type="text" name="ano" id="anoVigencia" class="form-control  4num required" min="2000" max="3000"
                  placeholder="" value="{{ano if ano}}" maxlength="4" />
                <label for="anoVigencia">Ano Vigência</label>
              </div>
            </div>
          </div>

          <div class="col-4 align-content-center justify-content-center">
            <button type="submit" class="btn btn-primary d-block w-75 m-auto">Confirmar Vigência</button>
          </div>
        </div>
      </form>

      {% if mes and ano %}
      <form action="/gerar_insumos" method="POST">
        <input type="hidden" name="mes_vigencia" value="{{mes}}" />
        <input type="hidden" name="ano_vigencia" value="{{ano}}" />

        <div class="row mt-4">
          <div class="col-12">
            <table class="table table-striped">
              <thead class="table-light">
                <tr>
                  <th>
                    <input type="checkbox" name="all_opcoes_relatorio" />
                  </th>
                  <th>Gerado</th>
                  <th>Insumo</th>
                </tr>
              </thead>
              <tbody>
                {% for opt in opcoes %}
                <tr>
                  <td>
                    <input type="checkbox" id="{{opt[0]}}" name="opcoes_relatorio" value="{{opt[0]}}" />
                  </td>
                  <td><label for="{{opt[0]}}">{{opt[2]}}</label></td>
                  <td>
                    <label for="{{opt[0]}}">{{opt[1]}}</label>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <p class="border-start border-5 p-3 pt-0 pb-0 h5 mb-2 mt-4 border-primary">Selecione o intervalo de datas</p>
        <div class="mt-3 mb-5 p-3 bg-light border border-dark-subtle rounded-4">
          <div class="row">

            <div class="col-6">
              <div class="form-floating">
                <div class="form-floating">
                  <input type="month" min="2000-01" max="3000-12" name="intervaloInicio" id="dataInicio"
                    class="form-control" placeholder="" />
                  <label for="dataInicio">Início do Intervalo</label>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-floating">
                <div class="form-floating">
                  <input type="month" min="2000-01" max="3000-12" name="finalIntervalo" id="finalIntervalo"
                    class="form-control" placeholder="" />
                  <label for="finalIntervalo">Final do Intervalo</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <table class="table table-striped">
              <thead class="table-light">
                <tr>
                  <th>
                    <input type="checkbox" name="all_opcoes_relatorio_range" />
                  </th>
                  <th>Gerado</th>
                  <th>Insumo</th>
                </tr>
              </thead>
              <tbody>
                {% for optr in opcoesComRange %}
                <tr>
                  <td>
                    <input type="checkbox" id="{{optr[0]}}" name="opcoes_relatorio_range" value="{{optr[0]}}" />
                  </td>
                  <td><label for="{{optr[0]}}">{{optr[2]}}</label></td>
                  <td>
                    <label for="{{optr[0]}}">{{optr[1]}}</label>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-5 justify-content-center">
          <div class="col-3">
            <a href="/home" class="btn btn-secondary w-100">Cancelar</a>
          </div>
          <div class="col-3">
            <button type="submit" class="btn btn-success w-100">Gerar</button>
          </div>
        </div>
      </form>
      {% endif %}

    </div>
  </main>
  {% include 'fractials/footer.html' %}
  <script>
    $(function () {
      const requireds = GFC.getRequiredFields("formVigencia")
      requireds.messages.ano = {
        required: GFC_MESSAGES.REQUIRED,
        min: GFC_MESSAGES.MIN(2000),
        max: GFC_MESSAGES.MAX(3000),
      }
      delete requireds.rules;
      const config = GFC.getConfigValidateForm(requireds);
      $("#formVigencia").validate(config);
      $('input[name="all_opcoes_relatorio"]').change(function () {
        if ($(this).is(':checked')) {
          $('input[name="opcoes_relatorio"]').prop('checked', true);
        } else {
          $('input[name="opcoes_relatorio"]').prop('checked', false);
        }
      });
      $('input[name="all_opcoes_relatorio_range"]').change(function () {
        if ($(this).is(':checked')) {
          $('input[name="opcoes_relatorio_range"]').prop('checked', true);
        } else {
          $('input[name="opcoes_relatorio_range"]').prop('checked', false);
        }
      });
      $('input[name="opcoes_relatorio_range"]').change(function () {
        $('input[name="all_opcoes_relatorio_range"]').prop('checked', false);
      });
      $('input[name="opcoes_relatorio"]').change(function () {
        $('input[name="all_opcoes_relatorio"]').prop('checked', false);
      });
    });
  </script>
</body>

</html>