<!--                                                  home.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Home</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}
  {% include 'fractials/submenu.html' %}

  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h2 class="title"><i class="fa-solid fa-building"></i> Empreendimentos</h2>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
          <a href="/abrir_cad_empreend" class="btn btn-primary">
            <i class="fa-solid fa-circle-plus"></i>
            Novo Empreendimento
          </a>
        </div>
      </div>

      {% if usa_filtro %}
      <p class="border-start border-5 p-3 pt-0 pb-0 h5 mb-2 mt-3 border-primary">Filtrar</p>
      <div class="bg-body-tertiary border border-1 p-3 rounded-4 mb-4">
        <form action="/home" method="get">
          <div class="row">
            <div class="col-4 align-content-center">
              <div class="form-floating">
                <select name="filtro_banco" id="filtro_banco" class="form-select">
                  <option value="">Todos</option>
                  {% for banco in lista_bancos %}
                  <option value="{{banco.getCodigo()}}" {% if fitlro_banco_selecionado==banco.getCodigo() %} selected {%
                    endif %}>
                    {{banco.getDescricao()}}</option>
                  {% endfor %}
                </select>
                <label for="filtro_banco">Por Banco</label>
              </div>
            </div>
            <div class="col-2 align-content-center">
              <button type="submit" class="btn btn-primary w-100">
                Filtrar
              </button>
            </div>
          </div>
        </form>
      </div>
      {% endif %}

      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead class="table-light">
              <tr>
                <th>Nome</th>
                <th>Apelido</th>
                <th colspan="16" class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% if empreends %}
              {% for e in empreends %}
              <tr>
                <td>{{ e.getNmEmpreend() }}</td>
                <td>{{ e.getApelido() }}</td>
                <td>
                  <a href="/abrir_edicao_empreend?idEmpreend={{e.getIdEmpreend()}}" data-bs-toggle="tooltip"
                    data-bs-title="Editar Empreendimento">
                    <i class="fa-solid fa-pencil text-warning"></i>
                  </a>
                </td>

                <td>
                  <a href="#" data-bs-toggle="tooltip" data-bs-title="Excluir Empreendimento">
                    <i class="fa-solid fa-trash text-danger" data-bs-toggle="modal" data-bs-target="#modalExclude"
                      data-modal-exclude-title="Empreendimento"
                      data-modal-exclude-action="/excluir_empreend?idEmpreend={{e.getIdEmpreend()}}"
                      data-modal-exclude-text="Deseja realmente excluir o empreendimento <strong>{{ e.getNmEmpreend() }}</strong>?"></i>
                  </a>
                </td>

                <td>
                  <a href="/tratar_garantias?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                    data-bs-toggle="tooltip" data-bs-title="Garantias">
                    <i class="fa-solid fa-shield-halved"></i>
                  </a>
                </td>

                <td>
                  <a href="/tratar_contas?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                    data-bs-toggle="tooltip" data-bs-title="Conta Corrente">
                    <i class="fa-solid fa-building-columns"></i>
                  </a>
                </td>

                <td>
                  <a href="/tratar_torres?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                    data-bs-toggle="tooltip" data-bs-title="Torres">
                    <i class="fa-solid fa-hotel"></i>
                  </a>
                </td>

                <td>
                  <a href="/tratar_unidades?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                    data-bs-toggle="tooltip" data-bs-title="Unidades">
                    <i class="fa-solid fa-building-un"></i>
                  </a>
                </td>

                <td>
                  <a href="/tratar_orcamentos?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                    data-bs-toggle="tooltip" data-bs-title="Orçamentos">
                    <i class="fa-solid fa-scale-balanced"></i>
                  </a>
                </td>

                <td>
                  <a href="/tratar_medicoes?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                    data-bs-toggle="tooltip" data-bs-title="Medições">
                    <i class="fa-solid fa-ruler-combined"></i>
                  </a>
                </td>

                <td>
                  <a href="/tratar_notas?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                    data-bs-toggle="tooltip" data-bs-title="Notas">
                    <i class="fa-solid fa-clipboard-list"></i>
                  </a>
                </td>

                <td>
                  <a href="/tratar_certidoes?idEmpreend={{e.getIdEmpreend()}}" data-bs-toggle="tooltip"
                    data-bs-title="Certidões">
                    <i class="fa-solid fa-book"></i>
                  </a>
                </td>

                <td>
                  <a href="/upload_config_fotos?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                    data-bs-toggle="tooltip" data-bs-title="Anexar Fotos">
                    <i class="fa-regular fa-images"></i>
                  </a>
                </td>

                <td>
                  <a href="/consideracoes?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getApelido()}}"
                    data-bs-toggle="tooltip" data-bs-title="Considerações Finais">
                    <i class="fa-solid fa-clipboard-check"></i>
                  </a>
                </td>

                <td>
                  <a href="/aspectos_obra?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getApelido()}}"
                    data-bs-toggle="tooltip" data-bs-title="Aspectos da Obra">
                    <i class="fa-regular fa-star-half-stroke"></i>
                  </a>
                </td>

                <td>
                  <a href="/gerar_insumos_relatorios?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getApelido()}}"
                    data-bs-toggle="tooltip" data-bs-title="Gerar insumos para o relatório">
                    <i class="fa-solid fa-chart-pie"></i>
                  </a>
                </td>

                <td>
                  <a href="/lista_relatorios?idEmpreend={{e.getIdEmpreend()}}&apelido={{e.getApelido()}}"
                    data-bs-toggle="tooltip" data-bs-title="Relatórios">
                    <i class="fa-solid fa-file-contract"></i>
                  </a>
                </td>

                <td>
                  <a href="/tratar_agendas?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                    data-bs-toggle="tooltip" data-bs-title="Agenda">
                    <i class="fa-solid fa-calendar-days"></i>
                  </a>
                </td>

              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="19" class="text-center">
                  Não existem empreendimentos cadastrados.
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </main>
  {% include 'fractials/footer.html' %}
</body>

</html>