<!--                                                  home.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Home</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}

  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2 class="title">Empreendimentos</h2>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <a href="/abrir_cad_empreend" class="btn btn-primary">
          <i class="fa-solid fa-circle-plus"></i>
          Novo Empreendimento
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <table class="table table-striped">
          <thead class="table-light">
            <tr>
              <th>Nome</th>
              <th colspan="11" class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% if empreends %}
            {% for e in empreends %}
            <tr>
              <td>{{ e.getNmEmpreend() }}</td>
              <td>
                <a href="/abrir_edicao_empreend?idEmpreend={{e.getIdEmpreend()}}" data-bs-toggle="tooltip"
                  data-bs-title="Editar Empreendimento">
                  <i class="fa-solid fa-pencil text-warning"></i>
                </a>
              </td>

              <td>
                <a href="#" data-bs-toggle="tooltip" data-bs-title="Excluir Empreendimento">
                  <i class="fa-solid fa-trash text-danger" data-bs-toggle="modal" data-bs-target="#modalExclude"
                    data-modal-exclude-title="Empreendimento"
                    data-modal-exclude-action="/excluir_empreend?idEmpreend={{e.getIdEmpreend()}}"
                    data-modal-exclude-text="Deseja realmente excluir o empreendimento <strong>{{ e.getNmEmpreend() }}</strong>?"></i>
                </a>
              </td>

              <td>
                <a href="/tratar_garantias?idEmpreend={{e.getIdEmpreend()}}" data-bs-toggle="tooltip"
                  data-bs-title="Garantias">
                  <i class="fa-solid fa-file-arrow-up"></i>
                </a>
              </td>

              <td>
                <a href="/tratar_contas?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                  data-bs-toggle="tooltip" data-bs-title="Conta Corrente">
                  <i class="fa-solid fa-money-bill-trend-up"></i>
                </a>
              </td>

              <td>
                <a href="/tratar_torres?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                  data-bs-toggle="tooltip" data-bs-title="Torres">
                  <i class="fa-solid fa-hotel"></i>
                </a>
              </td>

              <td>
                <a href="/tratar_unidades?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                  data-bs-toggle="tooltip" data-bs-title="Unidades">
                  <i class="fa-solid fa-building-un"></i>
                </a>
              </td>

              <td>
                <a href="/tratar_clientes?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                  data-bs-toggle="tooltip" data-bs-title="Clientes">
                  <i class="fa-solid fa-users"></i>
                </a>
              </td>

              <td>
                <a href="/tratar_orcamentos?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                  data-bs-toggle="tooltip" data-bs-title="Orçamentos">
                  <i class="fa-solid fa-scale-balanced"></i>
                </a>
              </td>

              <td>
                <a href="/tratar_medicoes?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                  data-bs-toggle="tooltip" data-bs-title="Medições">
                  <i class="fa-solid fa-scale-balanced"></i>
                </a>
              </td>

              <td>
                <a href="/tratar_notas?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                  data-bs-toggle="tooltip" data-bs-title="Notas">
                  <i class="fa-solid fa-scale-balanced"></i>
                </a>
              </td>

              <td>
                <a href="/tratar_certidoes?idEmpreend={{e.getIdEmpreend()}}" data-bs-toggle="tooltip"
                  data-bs-title="Certidões">
                  <i class="fa-solid fa-book"></i>
                </a>
              </td>

              <td>
                <a href="/lista_relatorios?idEmpreend={{e.getIdEmpreend()}}&napelido=None" data-bs-toggle="tooltip"
                  data-bs-title="Relatórios">
                  <i class="fa-solid fa-file-contract"></i>
                </a>
              </td>

              <td>
                <a href="/tratar_agendas?idEmpreend={{e.getIdEmpreend()}}&nmEmpreend={{e.getNmEmpreend()}}"
                  data-bs-toggle="tooltip" data-bs-title="Agenda">
                  <i class="fa-solid fa-calendar-days"></i>
                </a>
              </td>

            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="12" class="text-center">
                Não existem empreendimentos cadastrados.
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>

  </div>

  {% include 'fractials/footer.html' %}
</body>

</html>
