<!-- Template: lista_unidades -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Unidades</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}

  <main>
    <div class="container">
      <div class="row">
        <div class="col-5">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-building-un"></i> Unidades</span><strong>{{session.nmEmpreend}}</strong>
          </h2>
        </div>
        <div class="col-7">
          <div class="row h-100 d-flex justify-content-end align-items-center">
            <div class="col-5">
              <a href="/exportar_planilha_unidades" class="btn btn-info w-100" data-bs-toggle="tooltip"
                data-bs-title="Exporte os dados de valores das unidades">
                <i class="fa-solid fa-download"></i>
                Exportar unidades
              </a>
            </div>
            <div class="col-5">
              <span data-bs-toggle="tooltip"
                data-bs-title="Importe a planilha com os valores alterados para atualizar em lote">
                <button type="submit" class="btn btn-primary w-100" data-bs-toggle="modal"
                  data-bs-target="#modalUploadExcel" data-desc="" data-action-process="/importar_planilha_unidades">
                  <i class="fa-solid fa-file-arrow-up"></i>
                  Importar unidades
                </button>
              </span>
            </div>
            <div class="col-2">
              <a href="/home" class="btn btn-outline-dark w-100">
                <i class="fa-solid fa-home"></i>
                Início
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead class="table-light">
              <tr>
                <th>Torre</th>
                <th class="text-center">Unidade</th>
                <th class="text-center">Status</th>
                <th class="text-center">Valor</th>
                <th class="text-center">Cliente</th>
                <!--
                <th class="text-center w-25">Unidade</th>
                <th class="text-center w-25">Status</th>
                <th class="text-center w-25">Valor</th>
                <th class="text-center w-25">Cliente</th>
-->
                <th colspan="3" class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% if unidades %}
              {% for u in unidades %}
              <tr>
                <td>{{ u.getNmTorre() }}</td>

                <td class="text-center">{{ u.getUnidade() }}</td>
                <td class="text-center">{{ u.getStatus() }}</td>
                <td class="text-center">{{ u.getVlUnidade() }}</td>
                <td class="text-center">{{ u.getNmComprador() }}</td>

                <td class="text-center">
                  <a href="/consultar_unidade?idUnidade={{u.getIdUnidade()}}&modo=consulta" data-bs-toggle="tooltip"
                    data-bs-title="Consultar">
                    <i class="fa-solid fa-magnifying-glass-arrow-right"></i>
                  </a>
                </td>
                <td class="text-center">
                  <a href="/editar_unidade?idUnidade={{u.getIdUnidade()}}" data-bs-toggle="tooltip"
                    data-bs-title="Editar Unidade">
                    <i class="fa-solid fa-pencil text-warning"></i>
                  </a>
                </td>
                <td class="text-center">
                  <a href="#" data-bs-toggle="tooltip" data-bs-title="Excluir Torre">
                    <i class="fa-solid fa-trash text-danger" data-bs-toggle="modal" data-bs-target="#modalExclude"
                      data-modal-exclude-title="Unidade"
                      data-modal-exclude-action="/excluir_unidade?idUnidade={{u.getIdUnidade()}}"
                      data-modal-exclude-text="Deseja realmente excluir essa unidade <strong>{{u.getUnidade()}}</strong> da tore <strong>{{u.getNmTorre()}}</strong>?"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="8" class="text-center">
                  Não existem unidades cadastradas.
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  {% include 'fractials/footer.html' %}
</body>

</html>