<!-- Template: lista_contas.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.1">
  <title>GFC - Contas</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-building-columns"></i> Contas</span><strong>{{session.nmEmpreend}}</strong>
          </h2>
        </div>
        <div class="col-6">
          <div class="row justify-content-end align-items-center h-100">
            <div class="col-4">
              <a href="/abrir_cad_conta" class="btn btn-primary w-100">
                <i class="fa-solid fa-circle-plus"></i>
                Nova conta
              </a>
            </div>
            <div class="col-3">
              <a href="/tratar_contas" class="btn btn-outline-dark w-100">
                <i class="fa-solid fa-caret-left"></i>
                Voltar
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead class="table-light">
              <tr class="text-center">
                <th>Mês</th>
                <th>Ano</th>
                <th>Liberação</th>
                <th>Aporte Construtora</th>
                <th>Receita Recebíveis</th>
                <th>Pagamento Obra</th>
                <th>Pagamento RH</th>
                <th>Diferença</th>
                <th>Saldo</th>
                <th colspan="2">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% if contas %}
              {% for m in contas %}
              <tr class="text-center">
                <td>{{ m.getMesVigencia() }}</td>
                <td>{{ m.getAnoVigencia() }}</td>
                <td>{{ m.getVlLiberacao()|to_currency }}</td>
                <td>{{ m.getVlAporteConstrutora()|to_currency }}</td>
                <td>{{ m.getVlReceitaRecebiveis()|to_currency }}</td>
                <td>{{ m.getVlPagtoObra()|to_currency }}</td>
                <td>{{ m.getVlPagtoRh()|to_currency }}</td>
                <td>{{ m.getVlDiferenca()|to_currency }}</td>
                <td>{{ m.getVlSaldo()|to_currency }}</td>
                <td>
                  <a href="/editar_conta?id={{m.getIdConta()}}" data-bs-toggle="tooltip" data-bs-title="Editar Conta">
                    <i class="fa-solid fa-pencil text-warning"></i>
                  </a>
                </td>
                <td>
                  <a href="#" data-bs-toggle="tooltip" data-bs-title="Excluir Conta">
                    <i class="fa-solid fa-trash text-danger" data-bs-toggle="modal" data-bs-target="#modalExclude"
                      data-modal-exclude-title="Conta" data-modal-exclude-action="/excluir_conta?id={{m.getIdConta()}}"
                      data-modal-exclude-text="Deseja realmente excluir a conta com a data <strong>{{m.getDtCarga()}}</strong>?"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="11" class="text-center">
                  Não existem contas cadastradas.
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  {% include 'fractials/footer.html' %}
</body>

</html>
