<!-- Template: lista_notas.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.1">
  <title>GFC - Notas</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-clipboard-list"></i> Notas</span><strong>{{session.nmEmpreend}}</strong>
          </h2>
        </div>
        <div class="col-6">
          <div class="row justify-content-end align-items-center h-100">
            <div class="col-4">
              <a href="/abrir_cad_nota" class="btn btn-primary w-100">
                <i class="fa-solid fa-circle-plus"></i>
                Nova nota
              </a>
            </div>
            <div class="col-3">
              <a href="/tratar_notas" class="btn btn-outline-dark w-100">
                <i class="fa-solid fa-caret-left"></i>
                Voltar
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead class="table-light">
              <tr class="text-center">
                <th>Mês</th>
                <th>Ano</th>
                <th>Produto</th>
                <th>Valor da nota fiscal</th>
                <th>Valor do estoque</th>
                <th colspan="2">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% if notas %}
              {% for m in notas %}
              <tr class="text-center">
                <td>{{ m.getMesVigencia() }}</td>
                <td>{{ m.getAnoVigencia() }}</td>
                <td>{{ m.getProduto() }}</td>
                <td>{{ m.getVlNotaFiscal()|to_currency }}</td>
                <td>{{ m.getVlEstoque()|to_currency }}</td>
                <td>
                  <a href="/editar_nota?idConta={{m.getIdNota()}}" data-bs-toggle="tooltip" data-bs-title="Editar Nota">
                    <i class="fa-solid fa-pencil text-warning"></i>
                  </a>
                </td>
                <td>
                  <a href="#" data-bs-toggle="tooltip" data-bs-title="Excluir Nota">
                    <i class="fa-solid fa-trash text-danger" data-bs-toggle="modal" data-bs-target="#modalExclude"
                      data-modal-exclude-title="Nota" data-modal-exclude-action="/excluir_nota?idNota={{m.getIdNota()}}"
                      data-modal-exclude-text="Deseja realmente excluir os dados da nota <strong>{{ m.getProduto() }}</strong>?"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="7" class="text-center">
                  Não existem notas cadastradas.
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  {% include 'fractials/footer.html' %}
</body>

</html>
