<!-- Template: lista_torres -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Torres</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}

  <main>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-hotel"></i> Torres</span><strong>{{session.nmEmpreend}}</strong>
          </h2>
        </div>
        <div class="col-6">
          <div class="row h-100">
            <div class="col-4 offset-5 d-flex justify-content-end align-items-center">
              <a href="/abrir_cad_torre" class="btn btn-primary">
                <i class="fa-solid fa-circle-plus"></i>
                Nova Torre
              </a>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
              <a href="/home" class="btn btn-outline-dark">
                <i class="fa-solid fa-home"></i>
                Início
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead class="table-light">
              <tr>
                <th>Nome da Torre</th>
                <th class="text-center">Quantidade de Unidades</th>
                <th colspan="2" class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% if torreS %}
              {% for t in torreS %}
              <tr>
                <td>{{ t.getNmTorre() }}</td>
                <td class="text-center">{{ t.getQtUnidade() }}</td>
                <td class="text-center">
                  <a href="/editar_torre?idTorre={{t.getIdTorre()}}" data-bs-toggle="tooltip"
                    data-bs-title="Editar Torre">
                    <i class="fa-solid fa-pencil text-warning"></i>
                  </a>
                </td>
                <td class="text-center">
                  <a href="#" data-bs-toggle="tooltip" data-bs-title="Excluir Torre">
                    <i class="fa-solid fa-trash text-danger" data-bs-toggle="modal" data-bs-target="#modalExclude"
                      data-modal-exclude-title="Torre"
                      data-modal-exclude-action="/excluir_torre?idTorre={{t.getIdTorre()}}"
                      data-modal-exclude-text="Deseja realmente excluir a torre <strong>{{t.getNmTorre()}}</strong>?"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="4" class="text-center">
                  Não existem torres cadastradas.
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  {% include 'fractials/footer.html' %}
</body>

</html>
