<!-- Template: lista_agendas -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Agenda</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-calendar-days"></i> Agenda</span><strong>{{session.nmEmpreend}}</strong>
          </h2>
        </div>
        <div class="col-6">
          <div class="row h-100">
            <div class="col-4 offset-5 d-flex justify-content-end align-items-center">
              <a href="/abrir_cad_agenda" class="btn btn-primary">
                <i class="fa-solid fa-circle-plus"></i>
                Nova agenda
              </a>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
              <a href="/home" class="btn btn-outline-dark">
                <i class="fa-solid fa-home"></i>
                Início
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="agenda"></div>
      </div>
    </div>
  </main>
  {% include 'fractials/footer.html' %}
</body>

</html>