<!-- Template: lista_notas_agrupadas.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.1">
  <title>GFC - Notas</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-clipboard-list"></i> Notas</span><strong>{{session.nmEmpreend}}</strong>
          </h2>
        </div>
        <div class="col-6">
          <div class="row h-100">
            <div class="col-4 offset-5 d-flex justify-content-end align-items-center">
              <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalUploadExcel"
                data-action-process="/upload_arquivo_notas">

                <i class="fa-solid fa-file-arrow-up"></i>
                Carregar Excel
              </button>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
              <a href="/home" class="btn btn-outline-dark">
                <i class="fa-solid fa-home"></i>
                Início
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead class="table-light">
              <tr class="text-center">
                <th>Mes Vigência</th>
                <th>Ano Vigência</th>
                <th>Data Carga</th>
                <th colspan="3">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% if notas %}
              {% for m in notas %}
              <tr class="text-center">
                <td>{{ m.getMesVigencia() }}</td>
                <td>{{ m.getAnoVigencia() }}</td>
                <td>{{ m.getDtCarga()|to_datetime }}</td>
                <td>
                  <a href="/consultar_nota_data?dtCarga={{m.getDtCarga()}}&mesV={{m.getMesVigencia()}}&anoV={{m.getAnoVigencia()}}"
                    data-bs-toggle="tooltip" data-bs-title="Consultar">
                    <i class="fa-solid fa-magnifying-glass-arrow-right"></i>
                  </a>
                </td>
                <td>
                  <a href="/tab_notas?idEmpreend={{m.getIdEmpreend()}}&dtCarga={{m.getDtCarga()}}&mesV={{m.getMesVigencia()}}&anoV={{m.getAnoVigencia()}}&tipo=valor"
                    data-bs-toggle="tooltip" data-bs-title="Tabela">
                    <i class="fa-solid fa-table"></i>
                  </a>
                </td>
                <td>
                  <a href="#" data-bs-toggle="tooltip" data-bs-title="Excluir Empreendimento">
                    <i class="fa-solid fa-trash text-danger" data-bs-toggle="modal" data-bs-target="#modalExclude"
                      data-modal-exclude-title="Nota"
                      data-modal-exclude-action="/excluir_nota_carga?dtCarga={{m.getDtCarga()}}&mesV={{m.getMesVigencia()}}&anoV={{m.getAnoVigencia()}}"
                      data-modal-exclude-text="Deseja realmente excluir a nota com a data <strong>{{m.getDtCarga()}}</strong>?"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="6" class="text-center">
                  Não existem notas cadastradas.
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  {% include 'fractials/footer.html' %}
</body>

</html>