<!-- Template: lista_cliente -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Listagem de clientes</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}
  {% include 'fractials/submenu.html' %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="title title-page">
            <i class="fa-solid fa-users"></i> Clientes
          </h2>
        </div>
        <div class="col-6">
          <div class="row h-100">
            <div class="col-4 offset-5 d-flex justify-content-end align-items-center">
              <a href="/abrir_cad_cliente" class="btn btn-primary">
                <i class="fa-solid fa-circle-plus"></i>
                Novo Cliente
              </a>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
              <a href="/home" class="btn btn-outline-dark">
                <i class="fa-solid fa-home"></i>
                Início
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead class="table-light">
              <tr>
                <th>CPF / CNPJ</th>
                <th class="text-center">Tipo (CPF/CNPJ)</th>
                <th>Nome do Cliente</th>
                <th class="text-center">DDD</th>
                <th>Telefone</th>
                <th>Email</th>
                <th colspan="2">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% if clienteS %}
              {% for c in clienteS %}
              <tr>
                <td>{{ c.getCpfCnpj()|to_cpf_cnpj }}</td>
                <td class="text-center">{{ c.getTpCpfCnpj() }}</td>
                <td>{{ c.getNmCliente() }}</td>
                <td class="text-center">{{ c.getDdd() }}</td>
                <td>{{ c.getTel()|to_cel_tel }}</td>
                <td>{{ c.getEmail() }}</td>
                <td>
                  <a href="/editar_cliente?cpfCnpj={{c.getCpfCnpj()}}" data-bs-toggle="tooltip" data-bs-title="Editar">
                    <i class="fa-solid fa-pencil text-warning"></i>
                  </a>
                </td>
                <td>
                  <a href="#" data-bs-toggle="tooltip" data-bs-title="Excluir">
                    <i class="fa-solid fa-trash text-danger" data-bs-toggle="modal" data-bs-target="#modalExclude"
                      data-modal-exclude-title="Orçamento"
                      data-modal-exclude-action="/excluir_cliente?cpfCnpj={{c.getCpfCnpj()}}"
                      data-modal-exclude-text="Deseja realmente excluir o cliente <strong>{{c.getNmCliente()}}</strong>?"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="8" class="text-center">
                  Não existem clientes cadastrados.
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>

  {% include 'fractials/footer.html' %}
</body>

</html>