<!-- Template: lista_Medicoes.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.1">
  <title>GFC - Medições</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-ruler-combined"></i> Medições</span><strong>{{session.nmEmpreend}}</strong>
          </h2>
        </div>
        <div class="col-6">
          <div class="row h-100">
            <div class="col-4 offset-5 d-flex justify-content-end align-items-center">
              <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalUploadExcel"
                data-action-process="/upload_arquivo_medicoes">

                <i class="fa-solid fa-file-arrow-up"></i>
                Carregar Excel
              </button>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
              <form action="/home" method="POST">
                <input type="hidden" name="idEmpreend" value="{{ session.idEmpreend }}" />
                <button type="submit" class="btn btn-outline-dark">
                  <i class="fa-solid fa-home"></i>
                  Início
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          {% if error %}
          <p class="alert alert-danger">{{error}}</p>
          {% endif %}
          <table class="table table-striped">
            <thead class="table-light">
              <tr class="text-center">
                <th>Medição</th>
                <th>Mes Vigência</th>
                <th>Ano Vigência</th>
                <th>Previsto Acumulado %</th>
                <th>Realizado Acumulado %</th>
                <th>Diferença %</th>
                <th>Previsto Periodo %</th>
                <th colspan="3">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% if medicoes %}
              {% for m in medicoes %}
              <tr class="text-center">
                <td>{{ m.getNrMedicao() }}</td>
                <td>{{ m.getMesVigencia() }}</td>
                <td>{{ m.getAnoVigencia() }}</td>
                <td>{{ m.getPercPrevistoAcumulado() }}</td>
                <td>{{ m.getPercRealizadoAcumulado() }}</td>
                <td>{{ m.getPercDiferenca() }}</td>
                <td>{{ m.getPercPrevistoPeriodo() }}</td>
                <td>
                  <a href="/consultar_medicao_pelo_id?idMedicao={{m.getIdMedicao()}}" data-bs-toggle="tooltip"
                    data-bs-title="Consultar">
                    <i class="fa-solid fa-magnifying-glass-arrow-right"></i>
                  </a>
                </td>
                <td>
                  <a href="/graf_medicao_liberacao?dtCarga={{m.getDtCarga()}}&mesV={{m.getMesVigencia()}}&anoV={{m.getAnoVigencia()}}&tipo=valor"
                    data-bs-toggle="tooltip" data-bs-title="Gráficos">
                    <i class="fa-solid fa-chart-pie"></i>
                  </a>
                </td>
                <td>
                  <a href="#" data-bs-toggle="tooltip" data-bs-title="Excluir Empreendimento">
                    <i class="fa-solid fa-trash text-danger" data-bs-toggle="modal" data-bs-target="#modalExclude"
                      data-modal-exclude-title="Medição"
                      data-modal-exclude-action="/excluir_medicao?idMedicao={{m.getIdMedicao()}}"
                      data-modal-exclude-text="Deseja realmente excluir a medição <strong>{{m.getNrMedicao()}}</strong> do mês <strong>{{m.getMesVigencia()}}</strong> e ano <strong>{{m.getAnoVigencia()}}</strong>?"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="6" class="text-center">
                  Não existem medições cadastradas.
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  {% include 'fractials/footer.html' %}
</body>

</html>