<!-- Template: medicao_item -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Medição por data cadastro</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}

  <main>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-scale-balanced"></i> {{'Editar' if medicao else 'Criar'}} Medição por
              data</span><strong>{{session.nmEmpreend}}</strong>
          </h2>
        </div>
      </div>

      <form action="{{'/salvar_item_medicao' if medicao else '/incluir_item_medicao'}}" id="formIncluirMedicao"
        method="POST">
        <input type="hidden" name="idMedicao" value="{{ medicao.getIdMedicao() if medicao }}" />
        <input type="hidden" name="idEmpreend" value="{{ medicao.getIdEmpreend()}}" />

        <div class="row">
          <div class="col-12">
            <div class="form-floating mt-4">
              <input type="text" name="nrMedicao" id="nrMedicao" class="form-control" placeholder="" 
                readonly value="{{ medicao.getNrMedicao() if medicao }}" maxlength="3" />
              <label for="nrMedicao">Medição</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">

            <div class="form-floating mt-4">
              <input type="text" name="mesVigencia" id="mesVigencia" class="form-control" placeholder="" readonly
                readonly value="{{ medicao.getMesVigencia() if medicao }}" maxlength="2" />
              <label for="mesVigencia">Mês Vigência</label>
            </div>

            <div class="form-floating mt-4">
              <input type="text" name="percPrevistoAcumulado" id="percPrevistoAcumulado" class="form-control money" placeholder="" 
                value="{{ medicao.getPercPrevistoAcumulado() if medicao }}" maxlength="5" />
              <label for="percPrevistoAcumulado">Previsto Acumulado %</label>
            </div>

            <div class="form-floating mt-4">
              <input type="text" name="percDiferenca" id="percDiferenca" class="form-control money" placeholder="" 
                value="{{ medicao.getPercDiferenca() if medicao }}" maxlength="5" />
              <label for="percDiferenca">Diferença %</label>
            </div>
          </div>            

          <div class="col-6">
            <div class="form-floating mt-4">
              <input type="text" name="anoVigencia" id="anoVigencia" class="form-control" placeholder="" 
                readonly value="{{ medicao.getNrMedicao() if medicao }}" maxlength="4" />
              <label for="anoVigencia">Ano Vigência</label>
            </div>

            <div class="form-floating mt-4">
              <input type="text" name="percRealizadoAcumulado" id="percRealizadoAcumulado" class="form-control percent"
                value="{{ medicao.getPercRealizadoAcumulado() if medicao }}" maxlength="5" />
              <label for="percRealizadoAcumulado">Realizado Acumulado %</label>
            </div>

            <div class="form-floating mt-4">
              <input type="text" name="percPrevistoPeriodo" id="percPrevistoPeriodo" class="form-control money" placeholder=""
                {% if modo=='consulta' %} readonly {% endif %} value="{{ medicao.getPercPrevistoPeriodo() if medicao }}"
                maxlength="5" />
              <label for="percPrevistoPeriodo">Previsto Período %</label>
            </div>

          </div>
        </div>

        <div class="d-flex mt-5 justify-content-center gap-5">
          <input type="hidden" name="idMedicao" value="{{ medicao.getIdMedicao() }}" />
          <input type="hidden" name="idEmpreend" value="{{ medicao.getIdEmpreend() }}" />
          <a href="/tratar_medicoes" class="btn btn-secondary w-25">Cancelar</a>
          {% if modo != 'consulta' %}
          <button type="submit" class="btn btn-success w-25">{{'Salvar' if medicao else 'Criar'}}</button>
          {% endif %}
        </div>

      </form>

    </div>
  </main>
  {% include 'fractials/footer.html' %}
  <script>
    $(function () {
      const requireds = GFC.getRequiredFields("formIncluirMedicao")
      $("#formIncluirMedicao").validate({
        rules: requireds.rules,
        messages: requireds.messages,
        errorClass: 'is-invalid',
        errorElement: 'span',
        highlight: function (element, errorClass, validClass) {
          setTimeout(function () {
            $(element).siblings(`span[id="${element.id}-error"]`).addClass('invalid-feedback').show();
            $(element).addClass(errorClass)
          }, 50)
        },
      });
    });
  </script>
</body>

</html>
