<!-- Template: relatorio  -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Relatórios</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}

  <main>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-file-contract"></i> Relatórios</span><strong>{{session.nmEmpreend}}</strong>
          </h2>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
          <button type="button" id="backHistory" class="btn btn-outline-dark">
            <i class="fa-solid fa-caret-left"></i>
            Voltar
          </button>
        </div>
      </div>

      <form action="/gerar_relatorio" id="formRelatorio" method="GET"
        class="mt-3 mb-5 p-3 pt-2 bg-light border border-dark-subtle rounded-4">
        <legend class="text-black-50 mb-3 h6">Filtro</legend>
        <input type="hidden" name="idEmpreend" value="{{ idEmpreend }}" />
        <input type="hidden" name="apelido" value="{{ apelido }}" />
        <input type="hidden" name="mobile" value="False">

        <div class="row">

          <div class="col-lg-4 col-md-12">
            <div class="form-floating">
              <select name="mes" id="mes" class="form-control">
                {% for mes in listaMes %}
                <option value="{{ mes  }}">{{ mes }}</option>
                {% endfor %}
              </select>
              <label for="mes">Mês</label>
            </div>
          </div>

          <div class="col-lg-5 col-md-12 mt-3 mt-lg-0">
            <div class="form-floating">
              <select name="ano" id="ano" class="form-control">
                {% for ano in listaAno %}
                <option value="{{ ano  }}">{{ ano }}</option>
                {% endfor %}
              </select>
              <label for="ano">Ano</label>
            </div>
          </div>

          <div class="col-lg-3 col-md-12 mt-3  mt-lg-0 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary d-block w-100">Visualizar relatórios</button>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead class="table-light">
              <tr>
                <th>Nome</th>
                <th class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% if arquivos %}
              {% for e in arquivos %}
              <tr>
                <td>{{ e }}</td>
                <td class="text-center">
                  <a href="/download_arquivo?arquivo={{e}}" class="text-decoration-none text-primary-emphasis">
                    <i class="fa-solid fa-download"></i> Baixar Relatório
                  </a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="2" class="text-center">Não há relatórios para o período informado</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  {% include 'fractials/footer.html' %}
</body>

</html>
