<!-- Template: relatorio  -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Relatórios</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}

  <main>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-file-contract"></i> Relatórios</span><strong>{{session.nmEmpreend}}</strong>
          </h2>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
          {% if session.user_logged_mobile %}
          <button type="button" id="backHistory" class="btn btn-outline-dark">
            <i class="fa-solid fa-caret-left"></i>
            Voltar
          </button>
          {% else %}
          <a href="/home" type="submit" class="btn btn-outline-dark">
            <i class="fa-solid fa-caret-left"></i>
            Voltar
          </a>
          {% endif %}
        </div>
      </div>

      {% if not session.has_user_mobile_logged %}
      <form action="/gerar_relatorio" id="formRelatorio" method="GET">
        <div class="row justify-content-end">
          <div class="col-3 p-3">
            <button type="submit" class="btn btn-primary d-block w-100" id="gerarRelatorio">Gerar Novo
              Relatório</button>
          </div>
        </div>
      </form>
      {% endif %}

      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead class="table-light">
              <tr>
                <th>Nome</th>
                <th class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% if arquivos %}
              {% for e in arquivos %}
              <tr>
                <td>{{ e }}</td>
                <td class="text-center">
                  <a href="/download_arquivo?arquivo={{e}}" class="text-decoration-none text-primary-emphasis">
                    <i class="fa-solid fa-download"></i> Baixar Relatório
                  </a>
                  {% if session.is_adm %}
                  <a href="/deletar_relatorio?arquivo={{e}}" class="text-decoration-none text-danger"
                    style="margin-left: 35px;">
                    <i class="fa-solid fa-trash"></i> Deletar Relatório
                  </a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="2" class="text-center">Não há relatórios para o período informado</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  {% include 'fractials/footer.html' %}
  <script>
    $(function () {
      $('#gerarRelatorio').on('click', function () {
        $('#loading').css('display', 'flex')
      })
    })
  </script>
</body>

</html>