<!-- Template: cad_garantia -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Garantia</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}

  <main>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2 class="title"><i class="fa-solid fa-hand"></i> Sem permissão
          </h2>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12">
          <h3>Você não tem permissão para acessar essa página.</h3>
          <p><a href="/home">Clique aqui</a> para voltar para empreendimentos</p>
        </div>
      </div>


    </div>
  </main>
  {% include 'fractials/footer.html' %}
</body>

</html>