<!-- Template: torre -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Torre Cadastro</title>
  {% include 'fractials/head.html' %}

</head>

<body>
  {% include 'fractials/menu.html' %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-hotel"></i> Cadastrar Torre</span><strong>{{session.nmEmpreend}}</strong>
          </h2>
        </div>
      </div>

      <form action="{{'/salvar_alteracao_torre' if torre and torre.getIdTorre() is not none else '/cadastrar_torre'}}"
        id="formAlterarTorre" method="POST">
        <input type="hidden" name="idTorre" value="{{ torre.getIdTorre() if torre }}">
        <div class="row">

          <div class="col-4">
            <div class="form-floating">
              <input type="text" name="nmTorre" id="nmTorre" class="form-control" placeholder=""
                value="{{ torre.getNmTorre() if torre }}" maxlength="20">
              <label for="nmTorre">Nome da torre</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-floating">
              <input type="text" name="qtdAndar" id="qtdAndar" class="form-control 2num" placeholder=""
                value="{{ torre.getQtAndar() if torre }}" maxlength="2">
              <label for="qtdAndar">Quantos andares</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-floating">
              <input type="text" name="qtUnidade" id="qtUnidade" class="form-control 4num" placeholder=""
                value="{{ torre.getQtUnidade() if torre }}" maxlength="3">
              <label for="qtUnidade">Quantidade de unidades por andar</label>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-4">
            <div class="form-floating">
              <input type="text" name="numApUmAdrUm" id="numApUmAdrUm" class="form-control 4num" placeholder=""
                value="{{ torre.getNumAptUmAndarUm() if torre }}" maxlength="4">
              <label for="numApUmAdrUm">Número do 1º apartamento do 1º andar</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-floating">
              <input type="text" name="vlrUnidade" id="vlrUnidade" class="form-control money" placeholder=""
                value="{{ torre.getVlrUnidade() if torre }}" maxlength="15">
              <label for="vlrUnidade">Preço do Apartamento</label>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-4">
            <div class="form-floating">
              <input type="text" name="qtdCoberturas" id="qtdCoberturas" class="form-control 2num" placeholder=""
                value="{{ torre.getQtCobertura() if torre }}" maxlength="1">
              <label for="qtdCoberturas">Quantidade de coberturas</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-floating">
              <input type="text" name="prefixCobertura" id="prefixCobertura" class="form-control" placeholder=""
                value="{{ torre.getPrefixCobertura() if torre }}" maxlength="20">
              <label for="prefixCobertura">Prefixo da cobertura</label>
            </div>
          </div>

          <div class="col-4">
            <div class="form-floating">
              <input type="text" name="vlrCobertura" id="vlrCobertura" class="form-control money" placeholder=""
                value="{{ torre.getVlrCobertura() if torre }}" maxlength="15">
              <label for="vlrCobertura">Preço da cobertura</label>
            </div>
          </div>
        </div>

        <div class="row d-flex mt-5 justify-content-center">
          <div class="col-3">
            <a href="/tratar_torres" class="btn btn-secondary w-100">Cancelar</a>
          </div>
          <div class="col-3">
            <button type="submit" class="btn btn-success w-100">{{ 'Salvar' if torre and torre.getIdTorre() is not none
              else 'Criar' }}</button>
          </div>
        </div>
      </form>

    </div>
  </main>
  {% include 'fractials/footer.html' %}
  <script>
    $(function () {
      const requireds = GFC.getRequiredFields("formAlterarTorre")
      delete requireds.rules.prefixCobertura
      delete requireds.rules.qtdCoberturas
      delete requireds.rules.vlrCobertura
      $("#formAlterarTorre").validate(GFC.getConfigValidateForm(requireds));
    });
  </script>
</body>

</html>
