<!-- Template: unidade -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Cadastro Unidade</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}

  <main>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-building-un"></i> {{'Editar' if unidade else 'Criar'}}
              unidade</span><strong>{{session.nmEmpreend}}</strong>
          </h2>
        </div>
      </div>

      <form action="{{'/salvar_alteracao_unidade' if unidade else '/cadastrar_unidade'}}" method="post"
        id="formIncluirUnidade">
        <input type="hidden" name="idUnidade" value="{{unidade.getIdUnidade() if unidade}}">

        <div class="row">
          <div class="col-6">
            <div class="form-floating">
              <select type="text" name="idTorre" id="idTorre" class="form-control" placeholder=""
                value="{{ unidade.getIdTorre() if unidade }}" {% if modo=='consulta' %} readonly {% endif %}>
                <option value="">Selecione</option>
                {% for t in listaTorres %}
                <option value="{{ t.getIdTorre() }}" {% if unidade and unidade.getIdTorre()==t.getIdTorre() %} selected
                  {% endif %}>{{ t.getNmTorre() }}</option>
                {% endfor %}
              </select>
              <label for="idTorre">Torre</label>
            </div>

            <div class="form-floating mt-4">
              <input type="text" name="unidade" id="unidade" class="form-control 4num" placeholder=""
                value="{{ unidade.getUnidade() if unidade }}" maxlength="5" {% if modo=='consulta' %} readonly {% endif
                %} />
              <label for="unidade">Unidade</label>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-floating mt-4">
                  <input type="text" name="mesVigencia" id="mesVigencia" class="form-control 2num" placeholder=""
                    value="{{ unidade.getMesVigencia() if unidade }}" maxlength="2" {% if modo=='consulta' %} readonly
                    {% endif %} />
                  <label for="mesVigencia">Mês</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mt-4">
                  <input type="text" name="anoVigencia" id="anoVigencia" class="form-control 4num" placeholder=""
                    value="{{ unidade.getAnoVigencia() if unidade }}" maxlength="4" {% if modo=='consulta' %} readonly
                    {% endif %} />
                  <label for="anoVigencia">Ano</label>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-9">
                <div class="form-floating ">
                  <input type="hidden" id="cpfCnpjCliente" name="cpfCnpjCliente"
                    value="{{ unidade.getCpfComprador() if unidade}}">
                  <input type="text" name="nmComprador" id="nmComprador" class="form-control" placeholder=""
                    value="{{ unidade.getNmComprador() if unidade }}" {% if modo=='consulta' %} readonly {% endif %} />
                  <label for="nmComprador">Comprador</label>
                </div>
              </div>

              <div class="col-3">
                <button type="button" class="btn btn-primary btn-sm btn-associar" data-bs-toggle="modal"
                  data-bs-target="#modalAssociarCliente" data-input-doc-receiver="cpfCnpjCliente"
                  data-input-name-receiver="nmComprador"
                  data-initial-selected="{{ unidade.getCpfComprador() if unidade}}">
                  <i class="fa-solid fa-user-plus mr-2"></i>
                  Associar Cliente
                </button>
              </div>
            </div>

            <div class="form-floating mt-4">
              <input type="text" name="vlUnidade" id="vlUnidade" class="form-control money" placeholder=""
                value="{{ unidade.getVlUnidade() if unidade }}" maxlength="18" {% if modo=='consulta' %} readonly {%
                endif %} />
              <label for="vlUnidade">Valor Unidade</label>
            </div>

            <div class="form-floating mt-4">
              <input type="text" name="vlPago" id="vlPago" class="form-control money" placeholder=""
                value="{{ unidade.getVlPago() if unidade }}" maxlength="18" {% if modo=='consulta' %} readonly {% endif
                %} />
              <label for="vlPago">Valor pago</label>
            </div>

          </div>
          <div class="col-6">
            <div class="form-floating">
              <select type="text" name="status" id="status" class="form-control" placeholder=""
                value="{{ unidade.getStatus() if unidade }}" {% if modo=='consulta' %} readonly {% endif %}>
                <option value="">Selecione</option>
                <option value="Distrato" {% if unidade and unidade.getStatus()=='Distrato' %} selected {% endif %}>
                  Distrato</option>
                <option value="Estoque" {% if unidade and unidade.getStatus()=='Estoque' %} selected {% endif %}>
                  Estoque</option>
                <option value="Quitado" {% if unidade and unidade.getStatus()=='Quitado' %} selected {% endif %}>
                  Quitado</option>
                <option value="Vendido" {% if unidade and unidade.getStatus()=='Vendido' %} selected {% endif %}>
                  Vendido</option>
              </select>
              <label for="status">Status</label>
            </div>
            <div class="form-floating mt-4">
              <input type="date" name="dtOcorrencia" id="dtOcorrencia" class="form-control" placeholder="" readonly
                value="{{ unidade.getDtOcorrencia() if unidade else current_date }}" {% if modo=='consulta' %} readonly
                {% endif %} />
              <label for="dtOcorrencia">Data ocorrencia</label>
            </div>

            <div class="form-floating mt-4">
              <select type="text" name="financiado" id="financiado" class="form-control" placeholder=""
                value="{{ unidade.getFinanciado() if unidade }}" {% if modo=='consulta' %} readonly {% endif %}>
                <option value="">Selecione</option>
                <option value="Sim" {% if unidade and unidade.getFinanciado()=='Sim' %} selected {% endif %}>
                  Sim</option>
                <option value="Não" {% if unidade and unidade.getFinanciado()=='Não' %} selected {% endif %}>
                  Não</option>
              </select>
              <label for="financiado">Financiado</label>
            </div>

            <div class="form-floating mt-4">
              <input type="text" name="vlChaves" id="vlChaves" class="form-control money" placeholder=""
                value="{{ unidade.getVlChaves() if unidade }}" maxlength="20" {% if modo=='consulta' %} readonly {%
                endif %} />
              <label for="vlChaves">Valor das chaves</label>
            </div>

            <div class="form-floating mt-4">
              <input type="text" name="vlPreChaves" id="vlPreChaves" class="form-control money" placeholder=""
                value="{{ unidade.getVlPreChaves() if unidade }}" maxlength="20" {% if modo=='consulta' %} readonly {%
                endif %} />
              <label for="vlPreChaves">Valor pré-chaves</label>
            </div>

            <div class="form-floating mt-4">
              <input type="text" name="vlPosChaves" id="vlPosChaves" class="form-control money" placeholder=""
                value="{{ unidade.getVlPosChaves() if unidade }}" maxlength="20" {% if modo=='consulta' %} readonly {%
                endif %} />
              <label for="vlPosChaves">Valor pós-chaves</label>
            </div>

          </div>
        </div>
        <div class="row mt-5 justify-content-center">
          <div class="col-3">
            <a href="/tratar_unidades" class="btn btn-secondary w-100">Cancelar</a>
          </div>
          {% if modo != 'consulta' %}
          <div class="col-3">
            <button type="submit" class="btn btn-success w-100">{{'Salvar' if unidade else 'Criar'}}</button>
          </div>
          {% endif %}
        </div>
      </form>
    </div>
  </main>

  {% include 'fractials/footer.html' %}
  <script>
    $(function () {
      const requireds = GFC.getRequiredFields("formIncluirUnidade")
      const remove = (field) => {
        delete requireds.rules[field];
        delete requireds.messages[field];
      }
      remove('status')

      requireds.rules.unidade = {
        required: true,
        min: 1,
        max: 9999
      }
      requireds.rules.mesVigencia = {
        required: true,
        min: 1,
        max: 12
      }
      requireds.rules.anoVigencia = {
        required: true,
        min: 1990,
        max: 3000
      }
      requireds.messages.unidade = {
        required: GFC_MESSAGES.REQUIRED,
        min: GFC_MESSAGES.MIN(1),
        max: GFC_MESSAGES.MAX(9999),
      }
      requireds.messages.mesVigencia = {
        required: GFC_MESSAGES.REQUIRED,
        min: GFC_MESSAGES.MIN(1),
        max: GFC_MESSAGES.MAX(12),
      }
      requireds.messages.anoVigencia = {
        required: GFC_MESSAGES.REQUIRED,
        min: GFC_MESSAGES.MIN(1990),
        max: GFC_MESSAGES.MAX(3000),
      }

      $('input[name="status"]').change(function () {
        $('#error-status').hide();
        $('input[name="status"]').removeClass('is-invalid');
      })

      const config = GFC.getConfigValidateForm(requireds);
      config.submitHandler = function (form) {
        if (form.cpfCnpjCliente.value === '' || !/\d/.test(form.cpfCnpjCliente.value)) {
          $.toast({
            heading: '<strong>Erro ao enviar</strong>',
            text: "É necessário informar o cliente associado a unidade de maneira correta",
            icon: 'error',
            position: 'bottom-center',
            hideAfter: 10000,
          });
        } else {
          form.submit();
        }
      };

      $("#formIncluirUnidade").validate(config);
    });
  </script>
</body>

</html>
