<!-- Template: unidade -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Cadastro Unidade</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}

  <main>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h2 class="title title-page">
            <span><i class="fa-solid fa-building-un"></i> {{'Editar' if unidade else 'Criar'}}
              unidade</span><strong>{{session.nmEmpreend}}</strong>
          </h2>
        </div>
      </div>

      <form action="/cadastrar_unidade" method="post" id="formIncluirUnidade">
        <input type="hidden" name="idUnidade" value="{{unidade.getIdUnidade() if unidade}}">

        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <div class="form-floating">
                  <select name="idTorre" id="idTorre" class="form-select" placeholder=""
                    value="{{ unidade.getIdTorre() if unidade }}" readonly>
                    <option value="">Selecione</option>
                    {% for t in listaTorres %}
                    <option value="{{ t.getIdTorre() }}" {% if unidade and unidade.getIdTorre()==t.getIdTorre() %}
                      selected {% endif %}>
                      {{ t.getNmTorre() }}</option>
                    {% endfor %}
                  </select>
                  <label for="idTorre">Torre</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating">
                  <input type="text" name="unidade" id="unidade" class="form-control alphanum" placeholder=""
                    value="{{ unidade.getUnidade() if unidade }}" maxlength="15" readonly>
                  <label for="unidade">Unidade</label>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-6">
                <div class="form-floating">
                  <input type="month" name="vigencia" id="vigencia" class="form-control" placeholder=""
                    value="{{ vigencia if vigencia }}" {% if modo=='consulta' %} readonly {% endif %}>
                  <label for="mesVigencia">Vigência</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating">
                  <select name="status" id="status" class="form-select" placeholder=""
                    value="{{ unidade.getStatus() if unidade }}" {% if modo=='consulta' %} readonly {% endif %}>
                    {% for sts in listaStatus %}
                    <option value="{{ sts }}" {% if unidade and unidade.getStatus()==sts %} selected {% endif %}>
                      {{ sts }}
                    </option>
                    {% endfor %}
                  </select>
                  <label for="status">Status</label>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-6">
                <div class="form-floating">
                  <input type="text" name="vlUnidade" id="vlUnidade" class="form-control money" placeholder=""
                    value="{{ unidade.getVlUnidade() if unidade }}" maxlength="18" {% if modo=='consulta' %} readonly {%
                    endif %}>
                  <label for="vlUnidade">Valor Unidade</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating">
                  <select name="financiado" id="financiado" class="form-select" placeholder=""
                    value="{{ unidade.getFinanciado() if unidade }}" {% if modo=='consulta' %} readonly {% endif %}>
                    <option value="">Selecione</option>
                    <option value="Sim" {% if unidade and unidade.getFinanciado()=='Sim' %} selected {% endif %}>
                      Sim</option>
                    <option value="Não" {% if unidade and unidade.getFinanciado()=='Não' %} selected {% endif %}>
                      Não</option>
                  </select>
                  <label for="financiado">Financiado</label>
                </div>
              </div>
            </div>

          </div>
          <div class="col-6">

            <div class="row">
              <div class="col-9">
                <div class="form-floating ">
                  <input type="hidden" id="cpfCnpjCliente" name="cpfCnpjCliente"
                    value="{{ unidade.getCpfComprador() if unidade}}">
                  <input type="text" name="nmComprador" id="nmComprador" class="form-control" placeholder=""
                    value="{{ unidade.getNmComprador() if unidade and unidade.getNmComprador() is not none  }}" {% if
                    modo=='consulta' %} readonly {% endif %}>
                  <label for="nmComprador">Comprador</label>
                </div>
              </div>

              <div class="col-3">
                <button type="button" class="btn btn-primary btn-sm btn-associar" data-bs-toggle="modal"
                  data-bs-target="#modalAssociarCliente" data-input-doc-receiver="cpfCnpjCliente"
                  data-input-name-receiver="nmComprador"
                  data-initial-selected="{{ unidade.getCpfComprador() if unidade}}">
                  <i class="fa-solid fa-user-plus mr-2"></i>
                  Associar Cliente
                </button>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-6">
                <div class="form-floating">
                  <input type="text" name="vlReceber" id="vlReceber" class="form-control money" placeholder=""
                    value="{{ unidade.getVlReceber() if unidade }}" readonly disabled>
                  <label for="vlReceber">Valor a receber</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating ">
                  <input type="text" name="vlChaves" id="vlChaves" class="form-control money" placeholder=""
                    value="{{ unidade.getVlChaves() if unidade }}" maxlength="20" {% if modo=='consulta' %} readonly {%
                    endif %}>
                  <label for="vlChaves">Valor das chaves</label>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-6">
                <div class="form-floating ">
                  <input type="text" name="vlPreChaves" id="vlPreChaves" class="form-control money" placeholder=""
                    value="{{ unidade.getVlPreChaves() if unidade }}" maxlength="20" {% if modo=='consulta' %} readonly
                    {% endif %}>
                  <label for="vlPreChaves">Valor pré-chaves</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating">
                  <input type="text" name="vlPosChaves" id="vlPosChaves" class="form-control money" placeholder=""
                    value="{{ unidade.getVlPosChaves() if unidade }}" maxlength="20" {% if modo=='consulta' %} readonly
                    {% endif %}>
                  <label for="vlPosChaves">Valor pós-chaves</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 justify-content-center">
          <div class="col-3">
            <a href="/tratar_unidades" class="btn btn-secondary w-100">Cancelar</a>
          </div>
          {% if modo != 'consulta' %}
          <div class="col-3">
            <button type="submit" class="btn btn-success w-100">{{'Salvar' if unidade else 'Criar'}}</button>
          </div>
          {% endif %}
        </div>
      </form>
    </div>
  </main>

  {% include 'fractials/footer.html' %}
  <script>
    $(function () {
      const requireds = GFC.getRequiredFields("formIncluirUnidade")
      const remove = (field) => {
        delete requireds.rules[field];
        delete requireds.messages[field];
      }
      const requiredByStatus = function (field) {
        requireds.rules[field] = {
          required(el) {
            let val = $('#status').val()
            let elVal = $(el).val()
            let id = $(el).attr('id')
            let allowZero = ['vlPosChaves', 'vlPreChaves', 'vlChaves']
            if (['Vendido', 'Quitado'].includes(val) && (
              (!allowZero.includes(id) && (parseFloat(elVal) === 0 || elVal === '')) || (allowZero.includes(id) && elVal === '')
            )) {
              $(el).val('');
              return true;
            }
            return false;
          }
        }
      }

      remove('unidade')
      remove('nmComprador')

      requiredByStatus('vlPosChaves')
      requiredByStatus('vlPreChaves')
      requiredByStatus('vlChaves')

      requiredByStatus('vlReceber')
      requiredByStatus('financiado')
      requiredByStatus('vlUnidade')

      const config = GFC.getConfigValidateForm(requireds);
      config.submitHandler = function (form) {
        let status = $('#status').val()
        if (
          ['Vendido', 'Quitado'].includes(status) &&
          (form.cpfCnpjCliente.value === '' || !/\d/.test(form.cpfCnpjCliente.value))
        ) {
          $.toast({
            heading: '<strong>Erro ao enviar</strong>',
            text: "É necessário informar o cliente associado a unidade de maneira correta",
            icon: 'error',
            position: 'bottom-center',
            hideAfter: 10000,
          });
        } else {
          form.submit();
        }
      };

      $("#formIncluirUnidade").validate(config);

      function somaVlReceber() {
        let total = 0
        let elReceiver = $('#vlReceber');

        for (let ipt of ['#vlChaves', '#vlPosChaves', '#vlPreChaves']) {
          let el = $(ipt)
          let val = GFC.convertMoneyInNumber(el.val())
          total += val
        }

        elReceiver.unmask();
        elReceiver.val(total.toFixed(2));
        elReceiver.mask('#.##0,00', { reverse: true });
      }

      $('#vlChaves, #vlPosChaves, #vlPreChaves').on('input', somaVlReceber)
    });
  </script>
</body>

</html>
