<!-- Template: usuario -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GFC - Cadastro Usuário</title>
  {% include 'fractials/head.html' %}
</head>

<body>
  {% include 'fractials/menu.html' %}

  <main>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title title-page">
            <i class="fa-solid fa-user-gear"></i> {{ 'Editar' if user else 'Cadastrar' }} Usuário
          </h2>
        </div>
      </div>

      <form action="{{'/salvar_alteracao_usuario' if user else '/cadastrar_usuario' }}" method="post" id="formUsuario">
        <input type="hidden" name="id_user" value="{{ user.getIdUsuario() if user }}">
        <input type="hidden" name="pfl" value="{{ user.getTpAcesso() if user }}">
        <input type="hidden" name="tpl" value="{{ tpl }}">
        <div class="row">
          {% if tipos and tpl != 'conta' %}
          <div class="col-md-6 col-sm-12">
            <div class="form-floating">
              <select name="tp_access" id="tipo"
                class="form-select {{'required' if (user and user.getTpAcesso() != 'RT') or not user}}" placeholder=""
                value="{{ user.getTpAcesso() if user}}">
                <option value="">Selecione</option>
                {% for tp in tipos %}
                <option value="{{tp[0]}}" {% if user and user.getTpAcesso()==tp[0] %} selected {% endif %}>
                  {{tp[1]}}
                </option>
                {% endfor %}
              </select>
              <label for="tipo">Tipo de Acesso</label>
            </div>
          </div>
          {% endif %}
          <div class="col-md-6 col-sm-12">
            <div class="form-floating ">
              <input type="text" name="nm_user" id="name" class="form-control required" placeholder=""
                value="{{ user.getNmUsuario() if user}}" maxlength="100">
              <label for="name">Nome do usuário</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-floating mt-4">
              <input type="email" name="email_user" id="email" class="form-control email required" placeholder=""
                value="{{ user.getEmail() if user}}" maxlength="50">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-floating mt-4">
              <input type="password" name="pass_user" id="senha" class="form-control {{ 'required' if not user }}"
                placeholder="" value="" maxlength="10">
              <label for="senha">Senha</label>
            </div>
          </div>
        </div>
        {% if session.is_adm %}
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-floating mt-4">
              <select name="cod_banco" id="codBanco" class="form-select" placeholder=""
                value="{{ user.getCodBanco() if user}}">
                <option value="">Selecione o banco</option>
                {% for bk in bancos %}
                <option value="{{bk.getCodigo()}}" {% if user and user.getCodBanco()==bk.getCodigo() %} selected {%
                  endif %}>
                  {{bk.getCodigo()}} - {{bk.getDescricao()}}
                </option>
                {% endfor %}
              </select>
              <label for="codBanco">Banco Associado</label>
            </div>
          </div>
        </div>
        {% endif %}

        <div class="row mt-5 justify-content-center d-flex">
          <div class="col-3">
            <a href="{{ '/tratar_usuarios' if session.is_root else '/home' }}"
              class="btn btn-secondary w-100">Cancelar</a>
          </div>
          <div class="col-3 offset-1">
            <button type="submit" class="btn btn-success w-100" id="submit">{{ 'Salvar' if user
              else 'Criar' }}</button>
          </div>
        </div>
      </form>
    </div>
  </main>

  {% include 'fractials/footer.html' %}
  <script>
    $(function () {
      const requireds = GFC.getRequiredFields("formUsuario")
      delete requireds.rules;
      $("#formUsuario").validate(GFC.getConfigValidateForm(requireds));
    })
  </script>
</body>

</html>
